---
import '~/styles/global.css'
import '~/styles/markdown.css'
import '~/styles/lqip.css'
import '~/styles/github-card.css'
import { THEME_CONFIG } from '~/config'
import { getSiteData } from '~/lib/site-data'
import Head from '~/components/base/Head.astro'
import Header from './Header.astro'
import Footer from './Footer.astro'

type Props = {
  title: string
  description: string
  image?: string
  disableViewTransition?: boolean
  useTitleAsIs?: boolean
}

const { title, description, image, disableViewTransition, useTitleAsIs = false }: Props = Astro.props
const siteData = await getSiteData()
const documentTitle = useTitleAsIs ? title : `${title} | ${siteData.site.title}`
---

<!doctype html>
<html lang={siteData.site.lang} transition:name="root" transition:animate={THEME_CONFIG.transition && !disableViewTransition ? 'fade' : 'none'}>
  <head>
    <Head title={documentTitle} {description} {image} />
  </head>
  <body class="flex flex-col">
    <Header />
    <div class="grow flex">
      <main class="relative border-x border-border/50 global-layout-width mx-auto grow min-w-0">
        <slot />
      </main>
    </div>
    <Footer />
    <div
      class="safari-hidden pointer-events-none bg-white dark:bg-black fixed z-50 bottom-0 left-0 h-28 [mask-image:linear-gradient(transparent,#000000)] w-full"
    >
    </div>
  </body>
</html>
